<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-menu></app-menu>

  <form [formGroup]="formularioRegistro" (submit)="registrarPersonal()">

    <div>
      <img src="../../../../assets/img/caad.jpg" align="right" alt=""  alt="" width="10%">
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Formulario de Personal</h4>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
            <label style="color:black">Nombre</label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              class="form-control"
              placeholder="Ingrese Nombre"
              formControlName="nombre_personal"
              required
            />
          </div>

          <div class="form-group">
            <label style="color:black">Apellido</label>
            <input
              type="text"
              name="apellido"
              id="apelido"
              class="form-control"
              placeholder="Ingrese Apellido"
              formControlName="apellido_personal"
            />
          </div>

          <div class="form-group">
            <label style="color:black">DNI</label>
            <input
              type="number"
              name="dni"
              id="dni"
              class="form-control"
              placeholder="Ingrese el DNI"
              formControlName="dni_personal"
            />
          </div>

          <div class="form-group">
            <label style="color:black">Telefono</label>
            <input
              type="number"
              name="telefono"
              id="telefono"
              class="form-control"
              placeholder="Ingrese el telefono"
              formControlName="telefono_personal"
            />
          </div>

          <div class="form-group">
            <label style="color:black">F.Nacimiento</label>
            <input
              type="date"
              name="fecha"
              id="fecha"
              class="form-control"
              formControlName="fecha_nacimiento_personal"
            />
          </div>

          <div class="form-group">
            <label style="color:black">Lugar Nacimiento</label>
            <input
              type="text"
              name="lugar_nacimiento"
              id="lugar_nacimiento"
              class="form-control"
              placeholder="Ingrese lugar nacimiento"
              formControlName="lugar_nacimiento_personal"
            />
          </div>

          <div class="form-group">
            <label style="color:black">Profesion</label>
            <input
              type="text"
              name="profesion"
              id="profesion"
              class="form-control"
              placeholder="Ingrese Profesion"
              formControlName="profesion"
            />
          </div>
        </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="registrarPersonal()" [disabled]="  btnGuardar">Guardar</button>
        <button type="button"  class="btn btn-outline-dark" [disabled]="btnEditar" (click)="editarPersonalId()">Editar</button>
        <button type="reset"  class="btn btn-outline-dark" [disabled]="btnCancelar" (click)="cancelar()">Limpiar</button>
      </div>
    </ng-template>

  </form>

  <div class="container" id="contenedorBusqueda">

    <div class="form-row">
      <div class="form-group col-sm-4">
      <legend>Busquedas por Personal</legend>
      <input type="text" name="nombre_personal" placeholder="Buscar personal"
      class="form-control" [(ngModel)]="buscar_personal" required>
      <hr>
      <button class="btn btn-primary" (click)="busquedaPersonal()" >Buscar</button>
      <button class="btn btn-danger" [hidden]="ocultarbusqueda_Personal" (click)="cancelarbusqueda()">Cancelar</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-1">
      <button class="btn btn-primary" (click)="open(content)">Registrar</button>
    </div>
  </div>

  </div>

  <div class="container-fluid" id="contenedorTabla">
    <legend align="center">Listado de Personal</legend>
    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">DNI</th>
          <th scope="col">Telefono</th>
          <th scope="col">F. Nacimiento</th>
          <th scope="col">Lugar Nacimiento</th>
          <th scope="col">Profesion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personal of listadoPersonal | paginate: { itemsPerPage: 5, currentPage: p }">
          <th scope="row">{{ personal.id }}</th>
          <td scope="row">{{ personal.nombre_personal }}</td>
          <td scope="row">{{ personal.apellido_personal }}</td>
          <td socpe="row">{{ personal.dni_personal }}</td>
          <td scope="row">{{ personal.telefono_personal }}</td>
          <td scope="row">{{ personal.fecha_nacimiento_personal }}</td>
          <td scope="row">{{ personal.lugar_nacimiento_personal }}</td>
          <td scope="row">{{ personal.profesion }}</td>
          <td>
            <button class="btn btn-warning" (click)="PersonalId(personal, content)">
              Editar
            </button>
            <button class="btn btn-danger" (click)="eliminarPersonal(personal)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>

  </div>
</body>
</html>


