<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<app-menu></app-menu>

<form>

<div>
  <img src="../../../../assets/img/caad.jpg" align="right" alt=""  alt="" width="10%">
</div>

<div  id="contenedorBusqueda">

  <div class="form-row">
    <div class="form-group col-sm-3 offset-md-2">
    <legend>Filtros Estadisticas Alumnos</legend>

    <div class="form-group">
      <select class="form-control" [(ngModel)]="alumno_filtro" (change)="cambioalumno()">
        <option [ngValue]="2">Patologias</option>
        <option [ngValue]="3">Presentismo</option>
      </select>
    </div>

      <div class="form-group" *ngIf="alumno_filtro == 3" >
        <label style="color:white" for="alumno">Alumno</label>
          <select class="form-control" [(ngModel)]="busqueda_alumno">
            <option value="">Seleccione un alumno</option>
            <option *ngFor="let alumno of listadoAlumnos" [ngValue]="alumno.id">
              {{ alumno.nombre_alumno }} {{ alumno.apellido_alumno }}
            </option>
          </select>
          <hr>
          <input class="form-control" type="date" [(ngModel)]="fecha_inicio_alumno">
          <input class="form-control"  type="date" [(ngModel)]="fecha_fin_alumno">
      </div>



    <hr>
    <button class="btn btn-primary" (click)="filtroAlumno()">Buscar</button>

  </div>

  <div class="form-group col-sm-3">
    <legend>Filtros Estadisticas Personal</legend>

    <div class="form-group">
      <select class="form-control" [(ngModel)]="personal_filtro" (change)="cambiopersonal()">
        <option [ngValue]="2">Profesion</option>
        <option [ngValue]="3">Presentismo</option>
      </select>
    </div>


    <div class="form-group"*ngIf="personal_filtro == 3" >
      <label style="color:white" for="personal">Personal</label>
        <select class="form-control" [(ngModel)]="busqueda_personal">
          <option value="">Seleccione un Personal</option>
          <option *ngFor="let personal of listadoPersonal" [ngValue]="personal.id">
            {{ personal.nombre_personal }} {{ personal.apellido_personal }}
          </option>
        </select>
        <hr>
        <input class="form-control" type="date" [(ngModel)]="fecha_inicio_personal">
        <input class="form-control"  type="date" [(ngModel)]="fecha_fin_personal">
    </div>

    <hr>
    <button class="btn btn-primary" (click)="filtroPersonal()">Buscar</button>

  </div>

  <div class="form-group col-sm-3">
    <legend>Filtros Estadisticas Otros</legend>

    <div class="form-group">
      <select class="form-control" [(ngModel)]="materiales_filtro" (change)="cambiootros()">
        <option [ngValue]="2">Materiales</option>
        <option [ngValue]="3">Total Personas en Inst</option>
      </select>
    </div>
    <hr>
    <button class="btn btn-primary" (click)="filtroMaterial()">Buscar</button>

  </div>


</div>

</div>

</form>

<div>

  <div class="row">
<hr>
<div class="col">
  <legend> RESULTADOS ALUMNOS</legend>
    <div class="form-group"  *ngIf="asistenciashow">
      <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="totalAsistenciaAlumno"
      [gradient]="gradient"
      >
    </ngx-charts-advanced-pie-chart>
    </div>

    <div class="form-group" *ngIf="patologiashow">
      <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="totalPatologia"
      [gradient]="gradient"
      >
    </ngx-charts-advanced-pie-chart>
    </div>
  </div>
<div class="col">
    <legend> RESULTADOS PERSONAL</legend>
    <div class="form-group" *ngIf="profesionshow">
      <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="totalProfesion"
      [gradient]="gradient"
      >
    </ngx-charts-advanced-pie-chart>
    </div>

    <div class="col" *ngIf="asistenciapersonalshow">
      <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="totalAsistenciaPersonal"
      [gradient]="gradient"
      >
    </ngx-charts-advanced-pie-chart>
    </div>

  </div>
  <div class="col">
    <legend> RESULTADOS OTROS</legend>
    <div class="form-group" *ngIf="materialesshow">
      <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="totalMateriales"
      [gradient]="gradient"
      >
    </ngx-charts-advanced-pie-chart>
    </div>

    <div class="form-group" *ngIf="totalshow">
      <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="total"
      [gradient]="gradient"
      >
    </ngx-charts-advanced-pie-chart>
    </div>

  </div>

</div>
</div>

</body>
</html>

