<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <app-menu></app-menu>

  <form [formGroup]="formularioRegistro" (submit) = "registrarSocio()">

    <div>
      <img src="../../../../assets/img/caad.jpg" align="right" alt=""  alt="" width="10%">
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Formulario Acta Compromiso</h4>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label style="color:black" for="alumno">Alumno</label>
            <select class="form-control" formControlName="alumno" required>
              <option value="">Seleccione un Alumno</option>
              <option *ngFor="let alumnos of listadoAlumnos" [ngValue]="alumnos.id">
                {{ alumnos.nombre_alumno }} {{ alumnos.apellido_alumno }}
              </option>
            </select>
        </div>


        <div class="form-group">
          <label style="color:black">Fecha de Inscripcion</label>
            <input
              type="date"
              class="form-control"
              id="fecha_de_inscripcion"
              formControlName="fecha_de_inscripcion"
              required
            />
        </div>

      </div>
      <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="registrarSocio()" [disabled]="btnGuardar">Guardar</button>
      <button type="button"  class="btn btn-outline-dark" (click)="editarSocioId()" [disabled]="btnEditar">Editar</button>
      <button type="reset"  class="btn btn-outline-dark" (click)="cancelar()" [disabled]="btnCancelar">Limpiar</button>
      </div>
    </ng-template>

  </form>

    <div class="container" id="contenedorBusqueda">

      <div class="form-row">
        <div class="form-group col-sm-4">
        <legend>Busquedas por Socio</legend>
        <input type="text" name="nombre_alumno" placeholder="Buscar socio"
        class="form-control" [(ngModel)]="buscar_alumno" required>
        <hr>
        <button class="btn btn-primary" (click)="busquedaAlumno()" >Buscar</button>
        <button class="btn btn-danger" [hidden]="ocultarbusqueda_Alumno" (click)="cancelarbusqueda()">Cancelar</button>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-1">
        <button class="btn btn-primary" (click)="open(content)">Registrar</button>
      </div>
    </div>

    </div>

    <div class="container-fluid" id="contenedorTabla">
      <legend align="center">Listado Socios</legend>
      <table class="table table-bordered table-dark table-responsive-lg">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Socio</th>
            <th scope="col">Fecha de Inscripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let socio of listadoSocio | paginate: { itemsPerPage: 5, currentPage: p }">
            <th scope="row">{{ socio.id }}</th>
            <td scope="row">
              {{ socio.alumno.nombre_alumno }} {{ socio.alumno.apellido_alumno }}
            </td>
            <td scope="row">{{ socio.fecha_de_inscripcion }}</td>
            <td colspan="2">
              <button class="btn btn-warning" (click)="SocioId(socio,content )"> Editar </button>
              <button class="btn btn-danger"  (click)="eliminarSocio(socio)"> Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>

    </div>






</body>
</html>
