<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-menu></app-menu>
    <form [formGroup]="formularioRegistro" (submit)="registrarTaller()">
      <div>
        <img
          src="../../../../assets/img/caad.jpg"
          align="left"
          alt=""
          alt=""
          width="10%"
        />
      </div>

      <div class="container" id="contenedorRegistro">
        <legend>Formulario Talleres</legend>

        <hr />

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              id="nombre"
              placeholder="Ingrese nombre"
              formControlName="nombre_taller"
              required
            />
          </div>
        </div>
        <hr />
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">DIAS</label>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              id="dias"
              placeholder="SEPARAR POR COMA"
              formControlName="dias"
              required
            />
          </div>
        </div>
        <hr />
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Horarios</label>
          <div class="col-sm-4">
            <input
              type="time"
              class="form-control"
              id="horario"
              formControlName="horarios"
              required
            />
          </div>
        </div>

        <hr />

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Observaciones</label>
          <div class="col-sm-4">
            <textarea
              name="observacionTaller"
              id="observacionTaller"
              cols="65"
              rows="5"
              formControlName="observaciones"
              required
            >
            </textarea>
          </div>
        </div>

        <hr />
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="alumno">Alumno</label>
          <div class="col-sm-3">
            <select
              multiple
              class="form-control"
              formControlName="alumno_id"
              required
            >
              <option
                *ngFor="let alumno of listadoAlumno"
                [ngValue]="alumno.id"
              >
                {{ alumno.nombre_alumno }} {{ alumno.apellido_alumno }}
              </option>
            </select>
            <button class="btn btn-primary" routerLink="/alumno">Registrar Alumno</button>
          </div>

          <label for="personal" class="col-sm-2 col-form-label">Personal</label>
          <div class="col-sm-3">
            <select
              multiple
              class="form-control"
              formControlName="personal_id"
              required
            >
              <option
                *ngFor="let personal of listadoPersonal"
                [ngValue]="personal.id"
              >
                {{ personal.nombre_personal }} {{ personal.apellido_personal }}
              </option>
            </select>
            <button class="btn btn-primary" routerLink="/personal">Registrar Personal</button>
          </div>
        </div>
        <hr />
      </div>
      <hr />
      <div class="container" id="contenedorBotones">
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="btnRegistrar">
            Registrar
          </button>
          <button
            class="btn btn-warning"
            [disabled]="btnEditar"
            type="button"
            (click)="editarTallerId()"
          >
            Editar
          </button>
          <button
            class="btn btn-danger"
            [disabled]="btnCancelar"
            type="reset"
            (click)="cancelar()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </form>

    <div class="container-fluid" id="contenedorTabla">
      <legend>Listado Talleres</legend>
      <table class="table table-bordered table-dark table-responsive-lg">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dias</th>
            <th scope="col">Horarios</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Alumnos</th>
            <th scope="col">Personal</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let taller of listadoTalleres">
            <th scope="row">{{ taller.id }}</th>
            <td scope="row">{{ taller.nombre_taller }}</td>
            <td scope="row">{{ taller.dias }}</td>
            <td scope="row">{{ taller.horarios }}</td>
            <td scope="row">{{ taller.observaciones }}</td>
            <td scope="row">
              <ul *ngFor="let a of taller.alumno_id">
                <li>{{ a.nombre_alumno }} {{ a.apellido_alumno }}</li>
              </ul>
            </td>
            <td scope="row">
              <ul *ngFor="let p of taller.personal_id">
                <li>{{ p.nombre_personal }} {{ p.apellido_personal }}</li>
              </ul>
            </td>
            <td colspan="2">
              <button class="btn btn-warning" (click)="TallerId(taller)">
                Editar
              </button>
              <button class="btn btn-danger" (click)="eliminarTaller(taller)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
