<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-menu></app-menu>

<form [formGroup]="formularioRegistro" (submit)="registrarAntecedenteMedico()">

  <div>
    <img src="../../../../assets/img/caad.jpg" align="right" alt=""  alt="" width="10%">
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Formulario de Antecedentes Medicos</h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label style="color:black"  for="alumno">Alumno</label>
          <select class="form-control" formControlName="alumno" required>
            <option value="">Seleccione un Alumno</option>
            <option *ngFor="let alumnos of listadoAlumnos" [ngValue]="alumnos.id">
              {{ alumnos.nombre_alumno }} {{ alumnos.apellido_alumno }}
            </option>
          </select>
      </div>

      <div class="form-group">
        <label style="color:black" >Grupo Sanguineo </label>
          <input
            type="text"
            class="form-control"
            formControlName="grupo_sanguineo"
            placeholder="Ingrese Grupo Sanguineo"
            required
          />
      </div>

      <div class="form-gropu">
        <label style="color:black" >Factor RH</label>
          <input
            type="text"
            class="form-control"
            formControlName="factor_rh"
            placeholder="Ingrese Factor"
            required
          />
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="registrarAntecedenteMedico()" [disabled]="btnGuardar">Guardar</button>
      <button type="button"  class="btn btn-outline-dark" [disabled]="btnEditar" (click)="editarAntecedenteMedicoId()">Editar</button>
      <button type="reset"  class="btn btn-outline-dark" [disabled]="btnCancelar" (click)="cancelar()">Limpiar</button>
    </div>
  </ng-template>

</form>

<div class="container" id="contenedorBusqueda">

  <div class="form-row">
    <div class="form-group col-sm-4">
    <legend>Busquedas por Alumno</legend>
    <input type="text" name="nombre_alumno" placeholder="Buscar alumno"
    class="form-control" [(ngModel)]="buscar_alumno" required>
    <hr>
    <button class="btn btn-primary" (click)="busquedaAlumno()" >Buscar</button>
    <button class="btn btn-danger" [hidden]="ocultarbusqueda_Alumno" (click)="cancelarbusqueda()">Cancelar</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary" (click)="open(content)">Registrar</button>
  </div>
</div>

</div>

  <div class="container-fluid" id="containerTabla">
    <legend align="center">Listado de Antecedentes Medicos</legend>
    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Alumno</th>
          <th scope="col">Grupo Sanguineo</th>
          <th scope="col">Factor RH</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let antecedente_medico of listadoAntecedenteMedico | paginate: { itemsPerPage: 3, currentPage: p }">
          <th scope="row">{{ antecedente_medico.id }}</th>
          <td scope="row">
            {{ antecedente_medico.alumno.nombre_alumno }}
            {{ antecedente_medico.alumno.apellido_alumno }}
          </td>
          <td scope="row">{{ antecedente_medico.grupo_sanguineo }}</td>
          <td scope="row">{{ antecedente_medico.factor_rh }}</td>
          <td>
            <button
              class="btn btn-warning"
              (click)="AntecedenteMedicoId(antecedente_medico, content)"
            >
              Editar
            </button>
            <button
              class="btn btn-danger"
              (click)="eliminarAntecedenteMedico(antecedente_medico)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>

  </div>
</body>
</html>
