<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="navbar - navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" href="">C.A.A.D Rio Grande</a>
    <div>
      <button class="btn btn-info" routerLink="/inicio">INICIO</button>
    </div>


    <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;">
          Alumnos
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/alumno" >Registrar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/alumno/datos_adicionales">Datos adicionales</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/alumno/antecedentes_medicos">Antecedentes medicos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/alumno/patologias">Patologias</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/alumno/enfermeria" >Enfermeria</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/alumno/acta_compromiso">Acta Compromiso</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/alumno/asistencia">Asistencia</a>

        </div>
      </div>

      <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;">
          Personal
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/personal">Registrar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/personal/permiso_salida">Permiso Salida</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/personal/evaluacion_laboral">Evaluacion Laboral</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/personal/asistencia">Asistencia</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/personal/entrega_proyecto">Entrega Proyecto</a>
        </div>
      </div>

      <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;">
          Talleres
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/taller">Registrar</a>
          <a class="dropdown-item" routerLink="/taller/informes_cuatrimestrales">Informes Cuatrimestrales</a>
          <a class="dropdown-item" routerLink="/taller/materiales_taller">Materiales</a>
          <a class="dropdown-item" routerLink="/taller/ventas_taller">Ventas</a>
          <a class="dropdown-item" routerLink="/taller/produccion_taller">Produccion</a>
        </div>
      </div>

      <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;">
          Biblioteca
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="">Busqueda por Id</a>
          <a class="dropdown-item" href="#">Registrar</a>
          <a class="dropdown-item" href="#">Modificar</a>
          <a class="dropdown-item" href="#">Eliminar</a>
        </div>
      </div>

      <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 10px;">
          Viajes
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="">Busqueda por Id</a>
          <a class="dropdown-item" href="#">Registrar</a>
          <a class="dropdown-item" href="#">Modificar</a>
          <a class="dropdown-item" href="#">Eliminar</a>
        </div>
      </div>
      <form class="d-flex">
      <button class="btn btn-outline-info" >CERRAR SESION</button>
    </form>
</div>
</body>
</html>




