body {
    background-image: url(../../../assets/img/new-fondo1lateral.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;

}
legend{
    color:aliceblue
}
label{
    color:aliceblue
}
.carousel-inner{
margin: auto;
}

