<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<app-menu></app-menu>
<form [formGroup]="formularioRegistro" (submit)="registrarMaterialesTaller()">

  <div>
    <img src="../../../../assets/img/caad.jpg" align="left" alt=""  alt="" width="10%">
  </div>

  <div class="container" id="contenedorRegistro">
    <legend>Formulario Materiales Taller</legend>
    <hr>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="taller">Taller</label>
      <div class="col-sm-6">
        <select class="form-control" formControlName="taller" required>
          <option value="">Seleccione un Taller</option>
          <option *ngFor="let taller of listadoTalleres" [ngValue]="taller.id">
            {{ taller.nombre_taller}}
          </option>
        </select>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Insumos Disponibles</label>
      <div class="col-sm-4">
        <input
          type="text"
          class="form-control"
          id="insumos_disponibles"
          placeholder="Ingrese Insumo"
          formControlName="insumos_disponibles"
          required
        />
      </div>
    </div>

  </div>

  <hr>

  <div class="container" id="contenedorBotones">
    <div class="form-group" >
      <button
        class="btn btn-primary"
        [disabled]="btnRegistrar"
      >
        Registrar
      </button>
      <button
        class="btn btn-warning"
        [disabled]="btnEditar"
        type="button"
        (click)="editarMaterialesTallerId()"
      >
        Editar
      </button>
      <button
        class="btn btn-danger"
        [disabled]="btnCancelar"
        type="reset"
        (click)="cancelar()"
      >
        Cancelar
      </button>
    </div>
  </div>
</form>

<div class="container-fluid" id="contenedorTabla">
  <legend>Listado Materiales Taller</legend>
  <table class="table table-bordered table-dark table-responsive-lg">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Taller</th>
        <th scope="col">Insumos Disponibles</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let materiales of listadoMaterialesTaller">
        <th scope="row">{{ materiales.id }}</th>
        <td scope="row">
          {{ materiales.taller.nombre_taller }}
        </td>
        <td scope="row">{{ materiales.insumos_disponibles }}</td>
        <td colspan="2">
          <button class="btn btn-warning" (click)="MaterialesTallerId(materiales)"> Editar </button>
          <button class="btn btn-danger" (click)="eliminarMaterialesTaller(materiales)"> Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
